---
import '/public/snipcart.css'
const { snipcartKey } = Astro.props
---
<div
  hidden
  data-config-load-css="false"
  id="snipcart"
  data-api-key={snipcartKey}
  data-config-modal-style="side"
></div>

<script is:inline>
  
let scripLoaded = false;
function LoadJS() {
  let script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "https://cdn.snipcart.com/themes/v3.7.1/default/snipcart.js";
  script.onload = () => {
    scripLoaded = true
    console.log("snipcart cdn script imported ", scripLoaded)
  }
  //if (!scripLoaded) {
    setTimeout( () => {
      document.head.appendChild(script)
    }, 1500)
  //}  
}

const headChilds = Array.from(
    document.head.children
  ).filter((item) => { 
  if (item.nodeName == "SCRIPT" ){ 
    return(item) 
  }}).filter( (item) => { 
    if (item.src == "https://cdn.snipcart.com/themes/v3.7.1/default/snipcart.js") return item
  })
console.log("headChilds.length: ", headChilds.length)
if (headChilds.length === 0) {
  console.log("snipcart cdn not script present")
  //setTimeout(() => {
  LoadJS();
  //}, 1500);
}else{
  console.log("snipcart cdn script present")
}

</script>

{/*
<div
  hidden
  data-config-load-css="false"
  id="snipcart"
  data-api-key={snipcartKey}
  data-config-modal-style="side"
></div>
 */}