.search-modal {
  @apply fixed inset-0;
  z-index: 99999999;

  .pagefind-ui__search-clear {
    @apply mr-8;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.search-scroll {
  @apply h-full overflow-x-hidden overflow-y-scroll py-4;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: var(--scroll-behavior);

  &::-webkit-scrollbar {
    display: none;
  }
}